MLBXMLTest/PHI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:www.rakonza.com-scoringbaseball:roster" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import />
  <xs:element name="Roster">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Team">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="Players" />
            </xs:sequence>
            <xs:attribute name="League" type="xs:string" use="required" />
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="ShortName" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="MinorVersion" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>