MLBXMLTest/PHI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Players">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Number" type="xs:unsignedByte" use="required" />
      <xs:attribute name="Bats" type="xs:string" use="required" />
      <xs:attribute name="Throws" type="xs:string" use="required" />
      <xs:attribute name="DefPos" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>